*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/com/app/master/controlinventario/Presentador/
src/main/java/com/app/master/controlinventario/Vista/
app/src/main/java/com/app/master/controlinventario/Presentador/
app/src/main/java/com/app/master/controlinventario/Vista/
/app/src/main/java/com/app/master/controlinventario/Presentador/ValidadorEntrada.java

